<div id="body">
    <a [routerLink]="['/pages','contact']">Contact</a>
    <a [routerLink]="['/pages','athletes']">Athletes</a>
    <div class="cascade">
        <a [routerLink]="['/pages','race']">Race</a>
        <div class="cascade-content">
            <a [routerLink]="['/pages','rar']">ranking & result</a>
        </div>
    </div>
    <div class="cascade">
        <a [routerLink]="['/']">Home</a>
        <div class="cascade-content">
            <a [routerLink]="['/pages','news']">news</a>
            <a [routerLink]="['/pages','about']">about</a>
        </div>
    </div>
</div>